.about-me-header {
    margin-bottom: 33px;
    font-family: Lucida Sans", "Lucida Sans Regular", "Lucida Grande;
    font-size: 32px;
    font-weight: bold;
    color: rgba(0,212,255,1) 0%, rgb(235, 187, 98) 50%, rgba(0,212,255,1);
  }
  
  #about-image {
    float: auto;
    width: 600px;
    margin: 0 20px 10px 0;
  }

  #images {
    padding-top: 15px;
    text-align: center;
  }

  main {
    margin: 40px 0;
  }

  .block {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .block-header {
    color: rgba(0,212,255,1) 0%, rgb(235, 187, 98) 50%, rgba(0,212,255,1);
    font-family: Lucida Sans", "Lucida Sans Regular", "Lucida Grande;
    font-weight: bold;
  }