.home-container {
  padding: 30px;
}

#image {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#greeting {
  text-align: center;
  color: rgba(0,212,255,1) 0%, rgb(235, 187, 98) 50%, rgba(0,212,255,1);
}

.social-image {
  width: 40px;
  height: 40px;
  margin: 5px;
}

#role {
  text-align: center;
  margin-top: 20px;
  color: rgba(0,212,255,1) 0%, rgb(235, 187, 98) 50%, rgba(0,212,255,1);
}

#social {
  text-align: center;
  margin-top: 30px;
}

